data/112/STRUCTURED_BODY.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром по разработке СЭМД ЦНИИОИЗ 2021 -->
<!-- Включены элементы разработанные Health Level Seven -->
	<xs:schema  
	xmlns:mif="urn:hl7-org:v3/mif" xmlns="urn:hl7-org:v3" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="urn:hl7-org:v3" 
	elementFormDefault="qualified" 
	xmlns:address="urn:hl7-ru:address" 
	xmlns:fias="urn:hl7-ru:fias" 
	xmlns:identity="urn:hl7-ru:identity" 
	xmlns:hl7="urn:hl7-org:v3" >
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xs:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xs:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xs:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xs:include schemaLocation="coreschemas/voc.xsd"/>
	<xs:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	
	<xs:complexType name="POCD_MT000040.Component2">
		<xs:sequence>
			<xs:element name="structuredBody" type="POCD_MT000040.StructuredBody" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>структурированное тело документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.StructuredBody">
		<xs:sequence>
			<xs:element name="component" type="POCD_MT000040.Component3" minOccurs="3" maxOccurs="4">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:key name="SectionCodeKey">
					<xs:selector xpath=".//hl7:section/hl7:code" />
					<xs:field xpath="@code" />
				</xs:key>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Component3">
		<xs:sequence>
			<xs:element name="section" type="POCD_MT000040.Section" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>секция документа</xs:documentation>
				</xs:annotation>
				<xs:key name="EntryCodeKey_Obs">
					<xs:selector xpath=".//hl7:entry/hl7:observation/hl7:code" />
					<xs:field xpath="@code" />
				</xs:key>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Section">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>код секции</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements">
							<xs:attribute name="code" use="required">
								<xs:simpleType>
									<xs:restriction base="cs">
										<xs:enumeration value="DOCINFO"/>
										<xs:enumeration value="BENEFITS"/>
										<xs:enumeration value="RECIPE"/>
										<xs:enumeration value="LINKDOCS"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>							
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="1.2.643.5.1.13.13.99.2.197"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>							
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="title" type="ST_non_NF" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>заголовок секции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>наполнение секции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entry" type="POCD_MT000040.Entry" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Entry">
		<xs:sequence>
			<xs:choice>
				<xs:element name="observation" type="POCD_MT000040.Observation" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="substanceAdministration" type="POCD_MT000040.SubstanceAdministration" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="supply" type="POCD_MT000040.Supply" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="act" type="POCD_MT000040.Act" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Observation">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>кодируемое поле</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements">
							<xs:attribute name="code" use="required">
								<xs:simpleType>
									<xs:restriction base="cs">
										<xs:enumeration value="6000"/>
										<xs:enumeration value="6001"/>
										<xs:enumeration value="6002"/>
										<xs:enumeration value="6004"/>
										<xs:enumeration value="6005"/>
										<xs:enumeration value="6006"/>
										<xs:enumeration value="11001"/>
										<xs:enumeration value="809"/>
										<xs:enumeration value="811"/>
										<xs:enumeration value="6009"/>
										<xs:enumeration value="6010"/>
										<xs:enumeration value="6011"/>
										<xs:enumeration value="87"/>
										<xs:enumeration value="11003"/>
										<xs:enumeration value="11002"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="1.2.643.5.1.13.13.99.2.166"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0"> 
				<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:restriction base="IVL_TS"> 
								<xs:attribute name="value" type="ts" use="required"/>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0"> 
				<xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>наполнение кодируемого поля</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0"> 
				<xs:element name="reference" type="POCD_MT000040.Reference" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>наполнение кодируемого поля</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="classCode" type="ActClassObservation" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required" fixed="EVN"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<!-- Назначение лекарственного препарата -->
	<xs:complexType name="POCD_MT000040.SubstanceAdministration">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>кодируемое поле</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements"> 
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="1"> 
				<xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"> 
					<xs:annotation>
						<xs:documentation>длительность приёма</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>	
			<xs:element name="routeCode" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>путь введения</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements"> 
							<xs:attribute name="code" type="cs" use="optional"/>
							<xs:attribute name="codeSystem" type="uid" use="optional"/>
							<xs:attribute name="codeSystemName" type="st" use="optional"/>
							<xs:attribute name="codeSystemVersion" type="st" use="optional"/>
							<xs:attribute name="displayName" type="st" use="optional"/>
							<xs:attribute name="nullFlavor" use="optional">
								<xs:simpleType>
									<xs:restriction base="NullFlavor">
										<xs:enumeration value="NA"/>
										<xs:enumeration value="NI"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0"> 
				<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"> 
					<xs:annotation>
						<xs:documentation>разовая доза</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>	
			<xs:element name="consumable" type="POCD_MT000040.Consumable" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entryRelationship" type="POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0"> 
				<xs:element name="precondition" type="POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>наполнение кодируемого поля</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Supply">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>кодируемое поле</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="ED" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quantity" type="PQ" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="product" type="POCD_MT000040.Product" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="classCode" type="ActClassSupply" use="required" fixed="SPLY"/>
		<xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required" fixed="RQO"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Act">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>кодируемое поле</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="1.2.643.5.1.13.13.11.1522"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="ED" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entryRelationship" type="POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reference" type="POCD_MT000040.Reference" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="classCode" type="x_ActClassDocumentEntryAct" use="required" fixed="ACT"/>
		<xs:attribute name="moodCode" type="x_DocumentActMood" use="required" fixed="EVN"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Consumable">
		<xs:sequence>
			<xs:element name="manufacturedProduct" type="POCD_MT000040.ManufacturedProduct" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="typeCode" type="cs" use="optional"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
		<xs:complexType name="POCD_MT000040.Product">
		<xs:sequence>
			<xs:element name="manufacturedProduct" type="POCD_MT000040.ManufacturedProduct" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="typeCode" type="cs" use="optional" fixed="PRD"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ManufacturedProduct">
		<xs:sequence>
			<xs:element name="manufacturedMaterial" type="POCD_MT000040.Material" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="classCode" type="cs" use="optional"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Material">
		<xs:choice minOccurs="0">
			<xs:sequence>
				<xs:element name="code" minOccurs="1" maxOccurs="1"> 
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:restriction base="CE_non_elements"> 
								<xs:attribute name="code" type="cs" use="required"/>
								<xs:attribute name="codeSystem" type="uid" use="required"/>
								<xs:attribute name="codeSystemName" type="st" use="required"/>
								<xs:attribute name="codeSystemVersion" type="st" use="required"/>
								<xs:attribute name="displayName" type="st" use="required"/>
								<xs:attribute name="nullFlavor" use="optional">
									<xs:simpleType>
										<xs:restriction base="NullFlavor">
											<xs:enumeration value="NA"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0">
					<xs:element name="name" type="EN_1" minOccurs="1" maxOccurs="1"> 
						<xs:annotation>
							<xs:documentation>Наименование медицинского изделия</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="classCode" type="cs" use="optional"/>
		<xs:attribute name="determinerCode" type="cs" use="optional"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.EntryRelationship">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="substanceAdministration" type="POCD_MT000040.SubstanceAdministration_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element name="observation" type="POCD_MT000040.Observation" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>	
	<xs:complexType name="POCD_MT000040.Reference">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="externalDocument" type="POCD_MT000040.ExternalDocument" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>	
		<xs:attribute name="typeCode" type="cs" use="required" fixed="REFR"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>	
	<xs:complexType name="POCD_MT000040.ExternalDocument">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="id" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:restriction base="II"> 
								<xs:attribute name="root" type="uid" use="optional"/>
								<xs:attribute name="extension" type="st" use="optional"/>
								<xs:attribute name="nullFlavor" use="optional">
									<xs:simpleType>
										<xs:restriction base="NullFlavor">
											<xs:enumeration value="NA"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>	
		<xs:attribute name="classCode" type="ActClassDocument" use="optional"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>	
	<!-- Инструкция по применению-->
	<xs:complexType name="POCD_MT000040.SubstanceAdministration_1">
		<xs:sequence>
			<xs:choice minOccurs="1"> 
				<xs:element name="effectiveTime" type="TS" minOccurs="2" maxOccurs="2"> 
					<xs:annotation>
						<xs:documentation>длительность приёма</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>	
			<xs:choice minOccurs="0"> 
				<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"> 
					<xs:annotation>
						<xs:documentation>разовая доза</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>	
			<xs:element name="consumable" type="POCD_MT000040.Consumable" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
	</xs:complexType>	
	<xs:complexType name="POCD_MT000040.Precondition">
		<xs:sequence>
			<xs:element name="criterion" type="POCD_MT000040.Criterion" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="typeCode" type="cs" use="required"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>	
	<xs:complexType name="POCD_MT000040.Criterion">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements"> 
							<xs:attribute name="code" type="cs" use="required" fixed="ASSERTION"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.5.4"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>наполнение кодируемого поля</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>	
	<!-- Наименование медицинского изделия -->
	<xs:simpleType name="EN_1">
		<xs:restriction base="st"/>
	</xs:simpleType>
</xs:schema>