data/185/address.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema xmlns="urn:hl7-ru:address" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:address="urn:hl7-ru:address"
	targetNamespace="urn:hl7-ru:address" elementFormDefault="qualified" xmlns:hl7="urn:hl7-org:v3">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="coreschemas\datatypes-base.xsd"/>
	<!-- Элемент "Код субъекта РФ" -->
	<xs:element name="stateCode" type="hl7:CD_addressStateCode"/>
	<!-- Элемент "Тип адреса пациента" -->
	<xs:element name="Type" type="Type"/>
	<xs:complexType name="Type">
		<xs:complexContent>
			<xs:restriction base="hl7:CE_non_elements">
				<xs:attribute name="code" type="hl7:cs" use="required"/>
				<xs:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.11.1504"/>
				<xs:attribute name="codeSystemName" type="hl7:st" use="required"/>
				<xs:attribute name="codeSystemVersion" type="hl7:st" use="required"/>
				<xs:attribute name="displayName" type="hl7:st" use="required"/>
				<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- Элемент "Вид места жительства" -->
	<xs:element name="residentCode" type="residentCode"/>
	<xs:complexType name="residentCode">
		<xs:complexContent>
			<xs:restriction base="hl7:CE_non_elements">
				<xs:attribute name="code" type="hl7:cs" use="required"/>
				<xs:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.11.1042"/>
				<xs:attribute name="codeSystemName" type="hl7:st" use="required"/>
				<xs:attribute name="codeSystemVersion" type="hl7:st" use="required"/>
				<xs:attribute name="displayName" type="hl7:st" use="required"/>
				<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
