data/173/STRUCTURED_BODY.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema xmlns="urn:hl7-org:v3" xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias" xmlns:identity="urn:hl7-ru:identity" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="fias.xsd" namespace="urn:hl7-ru:fias" />
  <xs:import schemaLocation="address.xsd" namespace="urn:hl7-ru:address" />
  <xs:import schemaLocation="identity.xsd" namespace="urn:hl7-ru:identity" />
  <xs:include schemaLocation="coreschemas/datatypes.xsd" />
  <xs:include schemaLocation="coreschemas/voc.xsd" />
  <xs:include schemaLocation="coreschemas/NarrativeBlock.xsd" />
  <xs:complexType name="POCD_MT000040.Component2">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="structuredBody" type="structuredBody_216" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="structuredBody_216">
    <xs:sequence>
      <xs:element minOccurs="5" maxOccurs="8" name="component" type="component_217" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="component_217">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="section" type="section_218" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="section_218">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_219" />
      <xs:element minOccurs="1" maxOccurs="1" name="title" type="ST" />
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="entry" type="entry_222" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="code_219">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="TRANSFUSINFO" />
          <xs:enumeration value="SCORES" />
          <xs:enumeration value="DONORINFO" />
          <xs:enumeration value="RESLAB" />
          <xs:enumeration value="TRANSFUSANAMN" />
          <xs:enumeration value="OBSTETRICANAMN" />
          <xs:enumeration value="TRANSFUSRSRCH" />
          <xs:enumeration value="VITALPARAM" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.197" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entry_222">
    <xs:sequence>
      <xs:choice minOccurs="1">
        <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_223" />
        <xs:element minOccurs="1" maxOccurs="1" name="organizer" type="organizer_337" />
        <xs:element minOccurs="1" maxOccurs="1" name="substanceAdministration" type="substanceAdministration_279" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="observation_223">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_224" />
      <xs:choice minOccurs="0">
        <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
        <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_244" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" type="performer_247" />
      <xs:element minOccurs="0" maxOccurs="2" name="entryRelationship" type="entryRelationship_269" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required" />
  </xs:complexType>
  <xs:complexType name="code_224">
    <xs:attribute name="code" type="cs" use="optional" />
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1388" />
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.255" />
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1468" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1514" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_244">
    <xs:attribute name="value" type="ts" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="performer_247">
    <xs:sequence minOccurs="1">
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="modeCode_248" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" type="assignedEntity_249" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="modeCode_248">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.368" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="assignedEntity_249">
    <xs:sequence>
      <xs:element minOccurs="2" maxOccurs="2" name="id" type="id_250" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_252" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" type="assignedPerson_253" />
      <xs:element minOccurs="0" maxOccurs="1" name="representedOrganization" type="representedOrganization_258" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_250">
    <xs:attribute name="root" type="uid" use="optional" />
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="code_252">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1002" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="assignedPerson_253">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="name_254" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="name_254">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="family" type="st" />
      <xs:element minOccurs="1" maxOccurs="1" name="given" type="st" />
      <xs:element minOccurs="0" maxOccurs="1" ref="identity:Patronymic" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="representedOrganization_258">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_259" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="EntityClassOrganization">
          <xs:enumeration value="ORG" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_259">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_269">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_270" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" type="x_ActRelationshipEntryRelationship" use="required" />
  </xs:complexType>
  <xs:complexType name="observation_270">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_271" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entryRelationship" type="entryRelationship_552" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required" />
  </xs:complexType>
  <xs:complexType name="code_271">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="8019" />
          <xs:enumeration value="1008" />
          <xs:enumeration value="1009" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="substanceAdministration_279">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_280" />
      <xs:element minOccurs="0" maxOccurs="1" name="doseQuantity" type="doseQuantity_281" />
      <xs:element minOccurs="1" maxOccurs="1" name="consumable" type="consumable_283" />
      <xs:element minOccurs="0" maxOccurs="1" name="participant" type="participant_299" />
      <xs:element minOccurs="1" maxOccurs="3" name="entryRelationship" type="entryRelationship_304" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClass">
          <xs:enumeration value="SBADM" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_280">
    <xs:attribute name="value" type="ts" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="doseQuantity_281">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="translation" type="translation_282" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="value" type="real" use="required" />
    <xs:attribute name="unit" type="cs" use="required" />
  </xs:complexType>
  <xs:complexType name="translation_282">
    <xs:attribute name="value" type="real" use="required" />
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1358" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="consumable_283">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturedProduct" type="manufacturedProduct_284" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" type="ParticipationType" use="optional" />
  </xs:complexType>
  <xs:complexType name="manufacturedProduct_284">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="id_285" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturedMaterial" type="manufacturedMaterial_286" />
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturerOrganization" type="manufacturerOrganization_288" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="RoleClassManufacturedProduct">
          <xs:enumeration value="MANU" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_285">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="manufacturedMaterial_286">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_287" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="EntityClassManufacturedMaterial">
          <xs:enumeration value="MMAT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="determinerCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="EntityDeterminerDetermined">
          <xs:enumeration value="KIND" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_287">
    <xs:attribute name="code" type="cs" use="optional" />
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1386" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="manufacturerOrganization_288">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_289" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_289">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="participant_299">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="participantRole" type="participantRole_300" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" type="ParticipationType" use="optional" />
  </xs:complexType>
  <xs:complexType name="participantRole_300">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_301" />
      <xs:element minOccurs="1" maxOccurs="1" name="playingEntity" type="playingEntity_302" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" type="RoleClassRoot" use="optional" />
  </xs:complexType>
  <xs:complexType name="id_301">
    <xs:attribute name="root" type="uid" use="optional" />
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="playingEntity_302">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="ST" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" type="EntityClassRoot" use="optional" />
    <xs:attribute name="determinerCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="EntityDeterminer">
          <xs:enumeration value="INSTANCE" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="entryRelationship_304">
    <xs:sequence>
      <xs:choice minOccurs="1">
        <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_324" />
        <xs:element minOccurs="1" maxOccurs="1" name="organizer" type="organizer_305" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="RSON" />
          <xs:enumeration value="REFR" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="organizer_305">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="statusCode_306" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="component_307" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActClassDocumentEntryOrganizer">
          <xs:enumeration value="CLUSTER" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="statusCode_306">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="completed" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="component_307">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="organizer" type="organizer_308" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="ActRelationshipHasComponent">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="organizer_308">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_309" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="statusCode_311" />
      <xs:element minOccurs="3" maxOccurs="unbounded" name="component" type="component_312" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActClassDocumentEntryOrganizer">
          <xs:enumeration value="BATTERY" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="code_309">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="originalText" type="ED" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="statusCode_311">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="completed" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="component_312">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_313" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="ActRelationshipHasComponent">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_313">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_314" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_315" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="1" maxOccurs="1" name="interpretationCode" type="interpretationCode_317" />
      <xs:element minOccurs="1" maxOccurs="1" name="specimen" type="specimen_318" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required" />
  </xs:complexType>
  <xs:complexType name="interpretationCode_317">
    <xs:attribute name="code" type="cs" use="optional" />
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.257" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="code_314">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1080" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_315">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="specimen_318">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="specimenRole" type="specimenRole_319" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="specimenRole_319">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_320" />
      <xs:element minOccurs="1" maxOccurs="1" name="specimenPlayingEntity" type="specimenPlayingEntity_321" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_320">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="specimenPlayingEntity_321">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_322" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="EntityClassRoot">
          <xs:enumeration value="ENT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="determinerCode" use="required">
      <xs:simpleType>
        <xs:restriction base="EntityDeterminer">
          <xs:enumeration value="INSTANCE" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_322">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1081" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="observation_324">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_325" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_326" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_326">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="low" type="low_327" />
      <xs:element minOccurs="1" maxOccurs="1" name="high" type="high_328" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="low_327">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="high_328">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="code_325">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="organizer_337">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="statusCode_338" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_575" />
      <xs:element minOccurs="0" maxOccurs="1" name="reference" type="reference_339" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="component" type="component_342" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActClassDocumentEntryOrganizer">
          <xs:enumeration value="CLUSTER" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="statusCode_338">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="completed" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="reference_339">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="1" maxOccurs="1" name="externalDocument" type="externalDocument_340" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipExternalReference">
          <xs:enumeration value="REFR" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="externalDocument_340">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_341" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="ActClassDocument">
          <xs:enumeration value="DOCCLIN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="ActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_341">
    <xs:attribute name="root" type="uid" use="optional" />
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="component_342">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_577" />
        <xs:element minOccurs="1" maxOccurs="1" name="organizer" type="organizer_343" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="ActRelationshipHasComponent">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="organizer_343">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_344" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="statusCode_346" />
      <xs:element minOccurs="3" maxOccurs="unbounded" name="component" type="component_347" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActClassDocumentEntryOrganizer">
          <xs:enumeration value="BATTERY" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="code_344">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="originalText" type="ED" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="statusCode_346">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="completed" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="component_347">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_348" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="ActRelationshipHasComponent">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_348">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_349" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_350" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="1" name="interpretationCode" type="interpretationCode_352" />
      <xs:element minOccurs="1" maxOccurs="1" name="specimen" type="specimen_353" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="performer" type="performer_358" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="participant" type="participant_387" />
      <xs:element minOccurs="0" maxOccurs="1" name="referenceRange" type="referenceRange_392" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required" />
  </xs:complexType>
  <xs:complexType name="interpretationCode_352">
    <xs:attribute name="code" type="cs" use="optional" />
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.257" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="code_349">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1080" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_350">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="specimen_353">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="specimenRole" type="specimenRole_354" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="specimenRole_354">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_355" />
      <xs:element minOccurs="1" maxOccurs="1" name="specimenPlayingEntity" type="specimenPlayingEntity_356" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_355">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="specimenPlayingEntity_356">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_357" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="EntityClassRoot">
          <xs:enumeration value="ENT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="determinerCode" use="required">
      <xs:simpleType>
        <xs:restriction base="EntityDeterminer">
          <xs:enumeration value="INSTANCE" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_357">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1081" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="performer_358">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" type="assignedEntity_359" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="assignedEntity_359">
    <xs:sequence>
      <xs:element minOccurs="2" maxOccurs="2" name="id" type="id_360" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_362" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" type="assignedPerson_371" />
      <xs:element minOccurs="0" maxOccurs="1" name="representedOrganization" type="representedOrganization_376" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_360">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="code_362">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1002" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="assignedPerson_371">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="PN" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="name_372">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="family" type="st" />
      <xs:element minOccurs="1" maxOccurs="1" name="given" type="st" />
      <xs:element minOccurs="0" maxOccurs="1" ref="identity:Patronymic" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="representedOrganization_376">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_377" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="EntityClassOrganization">
          <xs:enumeration value="ORG" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_377">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="participant_387">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="participantRole" type="participantRole_388" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="participantRole_388">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_389" />
      <xs:element minOccurs="1" maxOccurs="1" name="playingDevice" type="playingDevice_390" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" type="RoleClassRoot" use="required" />
  </xs:complexType>
  <xs:complexType name="id_389">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="playingDevice_390">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturerModelName" type="ST" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="referenceRange_392">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="1" maxOccurs="1" name="observationRange" type="observationRange_393" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="observationRange_393">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="1" maxOccurs="1" name="interpretationCode" type="interpretationCode_400" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="interpretationCode_400">
    <xs:attribute name="code" type="cs" use="optional" />
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.257" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_552">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_553" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" type="x_ActRelationshipEntryRelationship" use="required" />
  </xs:complexType>
  <xs:complexType name="observation_553">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_554" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_555" />
      <xs:element minOccurs="1" maxOccurs="1" name="participant" type="participant_558" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required" />
  </xs:complexType>
  <xs:complexType name="code_554">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="12155" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_555">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="1" maxOccurs="1" name="low" type="low_556" />
      <xs:element minOccurs="1" maxOccurs="1" name="high" type="high_557" />
    </xs:sequence>
    <xs:attribute name="value" type="ts" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="low_556">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="high_557">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="participant_558">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="participantRole" type="participantRole_559" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="participantRole_559">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_560" />
      <xs:element minOccurs="1" maxOccurs="1" name="playingDevice" type="playingDevice_561" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" type="RoleClassRoot" use="required" />
  </xs:complexType>
  <xs:complexType name="id_560">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="playingDevice_561">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturerModelName" type="ST" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="statusCode_574">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="completed" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_575">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="observation_577">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_578" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required" />
  </xs:complexType>
  <xs:complexType name="code_578">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="3" />
          <xs:enumeration value="2" />
          <xs:enumeration value="4" />
          <xs:enumeration value="1" />
          <xs:enumeration value="8" />
          <xs:enumeration value="9" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.262" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
</xs:schema>