data/184/LEGAL_AUTHENTICATOR.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias" xmlns:identity="urn:hl7-ru:identity">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xs:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xs:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xs:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xs:include schemaLocation="coreschemas/voc.xsd"/>
	<xs:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	
	<!-- Блок "Сведения о лице, придавшем юридическую силу документу" -->
	<xs:complexType name="POCD_MT000040.LegalAuthenticator">
		<xs:sequence>
			<xs:element name="time" type="POCD_MT000040.time" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="signatureCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="nullFlavor" type="NullFlavor" use="required" fixed="NI"/>							
				</xs:complexType>
			</xs:element>
			<xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity_LegalAuthenticator" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>лицо, придавшее юридическую силу документу (роль)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.AssignedEntity_LegalAuthenticator">
		<xs:sequence>
			<xs:element name="id" type="II_id" minOccurs="2" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>уникальный идентификатор лица, придавшего юридическую силу документу, в МИС</xs:documentation>
					<xs:documentation>СНИЛС лица, придавшего юридическую силу документу</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="POCD_MT000040.code_profession" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>код должности лица, придавшего юридическую силу документу</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Адрес места работы лица, придавшего юридическую силу документу" -->
			<xs:element name="addr" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>адрес лица, придавшего юридическую силу документу</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="0">
						<xs:group ref="AD"/>
					</xs:choice>
					<xs:attribute name="use" use="optional" type="set_PostalAddressUse"/>
					<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>контакты лица, придавшего юридическую силу документу</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TEL">
							<xs:attribute name="value" type="url" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="assignedPerson" type="POCD_MT000040.Person" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>лицо, придавшего юридическую силу документу (человек)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Сведения о медицинской организации, где работает лицо, придавшее юридическую силу документу" -->
			<xs:element name="representedOrganization" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>место работы лица, придавшего юридическую силу документу</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="0">
						<xs:group ref="Organization"/>
					</xs:choice>
					<xs:attribute name="classCode" type="EntityClassOrganization" use="required" fixed="ORG"/>
					<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
</xs:schema>