data/181/STRUCTURED_BODY.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<xs:schema xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias" xmlns:identity="urn:hl7-ru:identity" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="fias.xsd" namespace="urn:hl7-ru:fias" />
  <xs:import schemaLocation="address.xsd" namespace="urn:hl7-ru:address" />
  <xs:import schemaLocation="identity.xsd" namespace="urn:hl7-ru:identity" />
  <xs:include schemaLocation="coreschemas/datatypes.xsd" />
  <xs:include schemaLocation="coreschemas/voc.xsd" />
  <xs:include schemaLocation="coreschemas/NarrativeBlock.xsd" />
  <xs:complexType name="POCD_MT000040.Component2">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="structuredBody" type="structuredBody_224" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="structuredBody_224">
    <xs:sequence>
      <xs:element minOccurs="8" maxOccurs="9" name="component" type="component_225" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <!-- Секции верхнеуровневые -->
  <xs:complexType name="component_225">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="section" type="section_226" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="section_226">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_227" />
      <xs:element minOccurs="1" maxOccurs="1" name="title" type="ST" />
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entry" type="entry_230" />
      <xs:element minOccurs="0" maxOccurs="11" name="component" type="component_443" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="code_227">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="DOCINFO" />
          <xs:enumeration value="DEADPATINFO" />
          <xs:enumeration value="PATHANATDGN" />
          <xs:enumeration value="DGN" />
          <xs:enumeration value="AUTOPSY" />
          <xs:enumeration value="AUTOPSYRESINFO" />
          <xs:enumeration value="CLAEPICRISIS" />
          <xs:enumeration value="LINKDOCS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.197" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entry_230">
    <xs:sequence>
      <xs:choice minOccurs="1">
        <xs:element minOccurs="1" maxOccurs="1" name="act" type="act_772" />
        <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_231" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="observation_231">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_232" />
      <xs:choice minOccurs="0">
        <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
        <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_242" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="1" name="performer" type="performer_243" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entryRelationship" type="entryRelationship_296" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_232">
    <xs:attribute name="code" use="optional" >
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="11003"/>
          <xs:enumeration value="12450"/>
          <xs:enumeration value="521"/>
          <xs:enumeration value="261"/>
          <xs:enumeration value="271"/>
          <xs:enumeration value="281"/>
          <xs:enumeration value="12431"/>
          <xs:enumeration value="838"/>
          <xs:enumeration value="12434"/>
          <xs:enumeration value="12435"/>
          <xs:enumeration value="12446"/>
          <xs:enumeration value="12438"/>
          <xs:enumeration value="12439"/>
          <xs:enumeration value="12440"/>
          <xs:enumeration value="12441"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
  </xs:complexType>
  <xs:complexType name="effectiveTime_242">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="performer_243">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" type="assignedEntity_244" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="assignedEntity_244">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_245" />
      <xs:element minOccurs="0" maxOccurs="1" name="assignedPerson" type="assignedPerson_246" />
      <xs:element minOccurs="1" maxOccurs="1" name="representedOrganization" type="representedOrganization_251" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_245">
    <xs:attribute name="root" type="uid" use="optional" />
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
  </xs:complexType>
  <xs:complexType name="assignedPerson_246">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="PN" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="representedOrganization_251">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_252" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="EntityClassOrganization">
          <xs:enumeration value="ORG" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_252">
    <xs:attribute name="root" type="uid" use="required" />
    <xs:attribute name="extension" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_296">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_297" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_297">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_298" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_300" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="2" name="entryRelationship" type="entryRelationship_302" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_298">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1077" />
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_300">
    <xs:attribute name="value" type="ts" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_302">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_303" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_303">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_304" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_305" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entryRelationship" type="entryRelationship_310" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_304">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="7026"/>
          <xs:enumeration value="12120"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_305">
    <xs:attribute name="value" type="ts" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_310">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_311" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_311">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_312" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_312">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="12393" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <!-- Вложенные секции -->
  <xs:complexType name="component_443">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="section" type="section_444" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="section_444">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_445" />
      <xs:element minOccurs="1" maxOccurs="1" name="title" type="ST" />
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entry" type="entry_448" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="code_445">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="BODYEXAM" />
          <xs:enumeration value="ABDOMEN" />
          <xs:enumeration value="THORAX" />
          <xs:enumeration value="CRANIUM" />
          <xs:enumeration value="CARDIOVASCULAR" />
          <xs:enumeration value="RESPIRATORY" />
          <xs:enumeration value="DIGESTION" />
          <xs:enumeration value="UROGENITAL" />
          <xs:enumeration value="HEMATOPOIETIC" />
          <xs:enumeration value="ENDOCRINE" />
          <xs:enumeration value="MUSCULOSKELETAL" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.197" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entry_448">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="organizer" type="organizer_449" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="organizer_449">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="statusCode_450" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_451" />
      <xs:element minOccurs="0" maxOccurs="1" name="precondition" type="precondition_452" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="component" type="component_456" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActClassDocumentEntryOrganizer">
          <xs:enumeration value="CLUSTER" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="statusCode_450">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="completed" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_451">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="precondition_452">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="criterion" type="criterion_453" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="ActRelationshipType">
          <xs:enumeration value="PRCN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="criterion_453">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_454" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="code_454">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="ASSERTION" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="2.16.840.1.113883.5.4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="component_456">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_457" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActRelationshipHasComponent">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_457">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_458" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="1" name="referenceRange" type="referenceRange_461" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_458">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.262" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="referenceRange_461">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observationRange" type="observationRange_462" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="observationRange_462">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="1" maxOccurs="1" name="interpretationCode" type="interpretationCode_469" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="interpretationCode_469">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.257" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <!-- Связанные документы -->
  <xs:complexType name="act_772">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_773" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_775" />
      <xs:element minOccurs="0" maxOccurs="2" name="entryRelationship" type="entryRelationship_776" />
      <xs:element minOccurs="1" maxOccurs="1" name="reference" type="reference_784" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActClassDocumentEntryAct">
          <xs:enumeration value="ACT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_DocumentActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_773">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1522" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_775">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_776">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_777" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_777">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_778" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_778">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="11002" />
          <xs:enumeration value="11003" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <!-- Ссылка на документ -->
  <xs:complexType name="reference_784">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="externalDocument" type="externalDocument_785" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipExternalReference">
          <xs:enumeration value="REFR" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="externalDocument_785">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_786" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassDocument">
          <xs:enumeration value="DOCCLIN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_786">
    <xs:attribute name="root" type="uid" use="optional" />
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
</xs:schema>