data/145/medService.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema xmlns="urn:hl7-ru:medService" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:hl7-ru:medService" xmlns:medService="urn:hl7-ru:medService" elementFormDefault="qualified" xmlns:hl7="urn:hl7-org:v3">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="coreschemas\datatypes-base.xsd"/>
	<!-- Элемент "Вид медицинской карты" -->
	<xs:element name="DocType" type="DocType"/>
	<xs:complexType name="DocType">
		<xs:complexContent>
			<xs:restriction base="hl7:CE_non_elements">
				<xs:attribute name="code" type="hl7:cs" use="required"/>
				<xs:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.11.1522"/>
				<xs:attribute name="codeSystemName" type="hl7:st" use="required"/>
				<xs:attribute name="codeSystemVersion" type="hl7:st" use="required"/>
				<xs:attribute name="displayName" type="hl7:st" use="required"/>
				<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- Элемент "Форма оказания медицинской помощи" -->
	<xs:element name="serviceForm" type="serviceForm"/>
	<xs:complexType name="serviceForm">
		<xs:complexContent>
			<xs:restriction base="hl7:CE_non_elements">
				<xs:attribute name="code" type="hl7:cs" use="required"/>
				<xs:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.11.1551"/>
				<xs:attribute name="codeSystemName" type="hl7:st" use="required"/>
				<xs:attribute name="codeSystemVersion" type="hl7:st" use="required"/>
				<xs:attribute name="displayName" type="hl7:st" use="required"/>
				<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- Элемент "Вид медицинской помощи" -->
	<xs:element name="serviceType" type="serviceType"/>
	<xs:complexType name="serviceType">
		<xs:complexContent>
			<xs:restriction base="hl7:CE_non_elements">
				<xs:attribute name="code" type="hl7:cs" use="required"/>
				<xs:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.11.1034"/>
				<xs:attribute name="codeSystemName" type="hl7:st" use="required"/>
				<xs:attribute name="codeSystemVersion" type="hl7:st" use="required"/>
				<xs:attribute name="displayName" type="hl7:st" use="required"/>
				<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- Элемент "Условия оказания медицинской помощи" -->
	<xs:element name="serviceCond" type="serviceCond"/>
	<xs:complexType name="serviceCond">
		<xs:complexContent>
			<xs:restriction base="hl7:CE_non_elements">
				<xs:attribute name="code" type="hl7:cs" use="required"/>
				<xs:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.99.2.322"/>
				<xs:attribute name="codeSystemName" type="hl7:st" use="required"/>
				<xs:attribute name="codeSystemVersion" type="hl7:st" use="required"/>
				<xs:attribute name="displayName" type="hl7:st" use="required"/>
				<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
