data/116/RECORD_TARGET.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром по разработке СЭМД ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias" xmlns:identity="urn:hl7-ru:identity">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xs:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xs:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xs:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xs:include schemaLocation="coreschemas/voc.xsd"/>
	<xs:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	<xs:complexType name="POCD_MT000040.RecordTarget">
		<xs:sequence>
			<xs:element name="patientRole" type="POCD_MT000040.PatientRole" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>роль пациента</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.PatientRole">
		<xs:sequence>		
			<xs:element name="id" type="II_id_patient" minOccurs="2" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>уникальный идентификатор пациента в МИС</xs:documentation>
					<xs:documentation>СНИЛС пациента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="identity:IdentityDoc" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>документ, удостоверяющий личность пациента (серия, номер, кем и когда выдан)</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element ref="identity:InsurancePolicy" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>полис ОМС</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="addr" type="AD_Patient" minOccurs="1" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>контакты пациента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="patient" type="POCD_MT000040.Patient" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>пациент (человек)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="providerOrganization" type="POCD_MT000040.Organization_Patient" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>организация, оказывающая медицинскую помощь</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Patient">
		<xs:sequence>
			<xs:element name="name" type="PN" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ФИО пациента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="administrativeGenderCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>пол пациента</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="1.2.643.5.1.13.13.11.1040"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="birthTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>дата рождения пациента</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" use="required" type="ts"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<!-- Организация -->
	<xs:complexType name="POCD_MT000040.Organization_Patient">
		<xs:choice minOccurs="1">
			<xs:sequence>
				<xs:element name="id" minOccurs="2" maxOccurs="2">
					<xs:annotation>
						<xs:documentation>уникальный идентификатор медицинской организации</xs:documentation>
						<xs:documentation>лицензия на осуществление медицинской деятельности (номер, выдавший лицензию орган и дата регистрации)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:restriction base="II">
								<xs:attribute name="root" type="uid" use="required"/>
								<xs:attribute name="extension" type="st" use="optional"/>
								<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
								<xs:attribute name="displayable" type="bl" use="prohibited"/>
								<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element ref="identity:Props" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>реквизиты организации</xs:documentation>
					</xs:annotation>
				</xs:element>			
				<xs:element name="name" type="ON" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>наименование медицинской организации или ФИО индивидуального предпринимателя</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>контакты медицинской организации или индивидуального предпринимателя</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="addr" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>адрес медицинской организации или индивидуального предпринимателя</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice minOccurs="1">
							<xs:group ref="AD"/>
						</xs:choice>
						<xs:attribute name="use" use="optional" type="set_PostalAddressUse"/>
						<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
	<xs:complexType name="AD_Patient">
		<xs:choice minOccurs="1">
			<xs:sequence>
				<xs:element ref="address:Type" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>тип адреса пациента</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="streetAddressLine" type="adxp.streetAddressLine" minOccurs="1"
					maxOccurs="1">
					<xs:annotation>
						<xs:documentation>адрес текстом</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="address:stateCode" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>код субъекта РФ</xs:documentation>
					</xs:annotation>
				</xs:element>									
				<xs:element name="postalCode" type="adxp.postalCode" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>почтовый индекс</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="fias:Address" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>коды адреса по ФИАС</xs:documentation>
					</xs:annotation>
				</xs:element>									
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="use" use="optional" type="set_PostalAddressUse"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
</xs:schema>