data/191/CDA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="AUTHOR.xsd"/>
	<xs:include schemaLocation="LEGAL_AUTHENTICATOR.xsd"/>
	<xs:include schemaLocation="RECORD_TARGET.xsd"/>
	<xs:include schemaLocation="CUSTODIAN.xsd"/>
	<xs:include schemaLocation="INFORMATION_RECIPIENT.xsd"/>
	<xs:include schemaLocation="DOCUMENTATION_OF.xsd"/>
	<xs:include schemaLocation="COMPONENT_OF.xsd"/>
	<xs:include schemaLocation="PARTICIPANT.xsd"/>
	<xs:include schemaLocation="STRUCTURED_BODY.xsd"/>
	<xs:include schemaLocation="IN_FULFILLMENT_OF.xsd"/>
	<xs:element name="ClinicalDocument" type="POCD_MT000040.ClinicalDocument"/>
	<xs:complexType name="POCD_MT000040.ClinicalDocument">
		<xs:sequence>
			<!-- Элемент "Указание на область применения документа (РФ)" -->
			<xs:element name="realmCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>область применения документа (страна)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="code" type="cs" use="required" fixed="RU"/>
					<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Указание на тип структуры документа (CDA R2)" -->
			<xs:element name="typeId" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>указатель на использование CDA R2</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
							<xs:attribute name="extension" type="st" use="required" fixed="POCD_MT000040"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Уникальный идентификатор руководства по реализации СЭМД" -->
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>уникальный идентификатор руководства по реализации</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="1.2.643.5.1.13.13.14.341.9.1"/>
							<xs:attribute name="extension" type="st" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Уникальный идентификатор документа" -->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>уникальный идентификатор документа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
											<xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.51"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Вид медицинского документа" -->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>тип документа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements">
							<xs:attribute name="code" type="cs" use="required" fixed="341"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="1.2.643.5.1.13.13.11.1522"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Заголовок документа" -->
			<xs:element name="title" type="st" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>заголовок документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Элемент "Дата создания документа" -->
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>дата создания документа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" use="optional" type="ts"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Уровень конфиденциальности документа" -->
			<xs:element name="confidentialityCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>уровень конфиденциальности документа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CE_non_elements">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="1.2.643.5.1.13.13.99.2.285"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Указание на язык документа" -->
			<xs:element name="languageCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>язык документа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="code" type="cs" use="required" fixed="ru-RU"/>							
					<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Уникальный идентификатор набора версий документа" -->
			<xs:element name="setId" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>уникальный идентификатор набора версий документа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!-- Элемент "Номер версии документа" -->
			<xs:element name="versionNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>номер версии данного документа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="INT">
							<xs:attribute name="value" use="required" type="int"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!-- Блок "Сведения о пациенте" -->
			<xs:element name="recordTarget" type="POCD_MT000040.RecordTarget" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>данные о пациенте</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Сведения об авторе документа" -->
			<xs:element name="author" type="POCD_MT000040.Author" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>данные об авторе документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Сведения о владельце документа" -->
			<xs:element name="custodian" type="POCD_MT000040.Custodian" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>данные об организации-владельце документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Сведения о получателе документа" -->
			<xs:element name="informationRecipient" type="POCD_MT000040.InformationRecipient" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>данные о получателе документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Сведения о лице, придавшем юридическую силу документу" -->
			<xs:element name="legalAuthenticator" type="POCD_MT000040.LegalAuthenticator" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>данные о лице, придавшем юридическую силу документу</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блоки "Сведения об источнике оплаты"  -->
			<xs:element name="participant" type="POCD_MT000040.Participant1_IND" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>сведения об источнике оплаты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Сведения о направлении" -->
			<xs:element name="inFulfillmentOf" type="POCD_MT000040.inFulfillmentOf" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>сведения о направлении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Сведения о документируемом событии" -->
			<xs:element name="documentationOf" type="POCD_MT000040.DocumentationOf" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>сведения о документируемом событии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Сведения о случае оказания медицинской помощи" -->
			<xs:element name="componentOf" type="POCD_MT000040.Component1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>сведения о случае оказания медицинской помощи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Блок "Тело документа" -->
			<xs:element name="component" type="POCD_MT000040.Component2" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>тело документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
</xs:schema>
