data/191/DOCUMENTATION_OF.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema xmlns:mif="urn:hl7-org:v3/mif"
	xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified"
	xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias"
	xmlns:identity="urn:hl7-ru:identity" xmlns:medService="urn:hl7-ru:medService">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xs:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xs:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xs:import namespace="urn:hl7-ru:medService" schemaLocation="medService.xsd"/>
	<xs:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xs:include schemaLocation="coreschemas/voc.xsd"/>
	<xs:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	<!-- Блок "Сведения о документируемом событии" -->
	<xs:complexType name="POCD_MT000040.DocumentationOf">
		<xs:sequence>
			<xs:element name="serviceEvent" type="POCD_MT000040.ServiceEvent">
				<xs:annotation>
					<xs:documentation>сведения о документируемом событии</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ServiceEvent">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>тип документируемого события</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="hl7:CE_non_elements">
							<xs:attribute name="code" type="cs" use="required" fixed="64"/>
							<xs:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.99.2.726"/>
							<xs:attribute name="codeSystemName" type="st" use="required"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>дата документируемого события</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="IVL_TS_1">
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="medService:serviceForm" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>форма оказания медицинской помощи</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element ref="medService:serviceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>вид медицинскойй помощи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="medService:serviceCond" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>условия оказания медицинской помощи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="performer" type="POCD_MT000040.Performer1" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>участник документируемого события</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>		
	</xs:complexType>
	<!-- Блок "Сведения об участнике документируемого события" -->
	<xs:complexType name="POCD_MT000040.Performer1">
		<xs:choice minOccurs="1">
			<xs:sequence>
				<xs:element name="assignedEntity" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>участник документируемого события (исполнитель) (роль)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>уникальный идентификатор исполнителя</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:restriction base="II">
											<xs:attribute name="root" use="optional">
												<xs:simpleType>
													<xs:restriction base="uid">
														<xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.70"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="extension" type="st" use="optional"/>
											<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
											<xs:attribute name="displayable" type="bl" use="prohibited"/>
											<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
										</xs:restriction>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="code" type="POCD_MT000040.code_profession" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>код должности исполнителя</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="telecom" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>контакты исполнителя</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:restriction base="TEL">
											<xs:attribute name="value" type="url" use="required"/>
											<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
										</xs:restriction>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="assignedPerson" type="POCD_MT000040.Person" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>ФИО исполнителя</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="typeCode" use="required">
			<xs:simpleType>
				<xs:restriction base="cs">
					<xs:enumeration value="PPRF"/>
					<xs:enumeration value="SPRF"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xs:complexType>
</xs:schema>
