data/125/PARTICIPANT.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema xmlns:mif="urn:hl7-org:v3/mif"
	xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified"
	xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias"
	xmlns:identity="urn:hl7-ru:identity" xmlns:medService="urn:hl7-ru:medService">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xs:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xs:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xs:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xs:include schemaLocation="coreschemas/voc.xsd"/>
	<xs:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	<!--Сведения о получателе документа - родственник или представитель умершего-->
	<xs:complexType name="POCD_MT000040.Participant1_IRCP">
		<xs:sequence>
			<xs:element name="associatedEntity" type="POCD_MT000040.AssociatedEntity_IRCP" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>получатель документа - родственник или представитель умершего</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="IRCP"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.AssociatedEntity_IRCP">
		<xs:sequence>
			<xs:element name="id" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="optional">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:pattern value="1.2.643.100.3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" type="st" use="optional"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="optional">
							</xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:group ref="identity:IdentityDoc_2" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>документ, удостоверяющий личность получателя, серия, номер, кем выдан</xs:documentation>
				</xs:annotation>
			</xs:group>

			<xs:element name="addr" type="AD_Participant" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="associatedPerson" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Получатель</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
					<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="classCode" use="required">
			<xs:simpleType>
				<xs:restriction base="RoleClassAssociative">
					<xs:enumeration value="PRS"/>
					<xs:enumeration value="AGNT"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
		<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>		
	</xs:complexType>
	<xs:complexType name="AD_Participant">
		<xs:choice minOccurs="0">
			<xs:sequence>
				
				<xs:element name="streetAddressLine" type="adxp.streetAddressLine" minOccurs="1"
					maxOccurs="1">
					<xs:annotation>
						<xs:documentation>адрес текстом</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="address:Type" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>тип адреса получателя</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="address:stateCode" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>код субъекта РФ</xs:documentation>
					</xs:annotation>
				</xs:element>																	
				<xs:element name="postalCode" type="adxp.postalCode" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>почтовый индекс</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="fias:Address" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>коды адреса по ФИАС</xs:documentation>
					</xs:annotation>
				</xs:element>									
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="use" use="optional" type="set_PostalAddressUse"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>

</xs:schema>
