data/190/STRUCTURED_BODY.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Центром актуализации и модернизации руководств по структурированным электронным медицинским документам ЦНИИОИЗ 2022 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xs:schema xmlns="urn:hl7-org:v3" xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias" xmlns:identity="urn:hl7-ru:identity" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:PII="urn:hl7-ru:PII" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="fias.xsd" namespace="urn:hl7-ru:fias" />
  <xs:import schemaLocation="address.xsd" namespace="urn:hl7-ru:address" />
  <xs:import schemaLocation="identity.xsd" namespace="urn:hl7-ru:identity" />
  <xs:import namespace="urn:hl7-ru:PII" schemaLocation="PII.xsd"/>	
  <xs:include schemaLocation="coreschemas/datatypes.xsd" />
  <xs:include schemaLocation="coreschemas/voc.xsd" />
  <xs:include schemaLocation="coreschemas/NarrativeBlock.xsd" />
  <xs:complexType name="POCD_MT000040.Component2">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="structuredBody" type="structuredBody_238" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="structuredBody_238">
    <xs:sequence>
      <xs:element minOccurs="5" maxOccurs="12" name="component" type="component_239" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="component_239">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="section" type="section_240" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="section_240">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_241" />
      <xs:element minOccurs="1" maxOccurs="1" name="title" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entry" type="entry_244" />
      <xs:element minOccurs="0" maxOccurs="4" name="component" type="component_294" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="code_241">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="ANAM" />
          <xs:enumeration value="PATOBJ" />
          <xs:enumeration value="SCORES" />
          <xs:enumeration value="PROC" />
          <xs:enumeration value="SUR" />
          <xs:enumeration value="SUM" />
          <xs:enumeration value="CONSILIUM" />
          <xs:enumeration value="DGN" />
          <xs:enumeration value="DISPENSOBS" />
          <xs:enumeration value="REGIME" />
          <xs:enumeration value="SERVICES" />
          <xs:enumeration value="LINKDOCS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.197" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entry_244">
    <xs:sequence>
      <xs:choice minOccurs="1">
        <xs:element minOccurs="1" maxOccurs="1" name="act" type="act_761" />
        <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_245" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="observation_245">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="id_440" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_246" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_267" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="1" name="performer" type="performer_270" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entryRelationship" type="entryRelationship_280" />
      <xs:element minOccurs="0" maxOccurs="1" name="reference" type="reference_429" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_246">
    <xs:attribute name="code" type="cs" use="optional" />
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1514" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1070" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1077" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_267">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="low" type="low_413" />
      <xs:element minOccurs="0" maxOccurs="1" name="high" type="high_414" />
    </xs:sequence>
    <xs:attribute name="value" type="ts" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="performer_270">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" type="assignedEntity_271" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="assignedEntity_271">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_272" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_273" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="telecom_274" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" type="assignedPerson_275" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_272">
	<!-- Уникальный идентификатор медицинского работника в МИС ("Объективизированная оценка состояния больного") -->
    <xs:attribute name="root" use="optional" >
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.70"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="code_273">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1002" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="telecom_274">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="value" type="url" use="required" />
    <xs:attribute name="use" type="set_TelecommunicationAddressUse" use="optional" />
  </xs:complexType>
  <xs:complexType name="assignedPerson_275">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="name_276" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="name_276">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="family" type="st" />
      <xs:element minOccurs="1" maxOccurs="1" name="given" type="st" />
      <xs:element minOccurs="0" maxOccurs="1" ref="identity:Patronymic" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_280">
    <xs:sequence>
      <xs:choice minOccurs="1">
        <xs:element minOccurs="1" maxOccurs="1" name="act" type="act_751" />
        <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_281" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_281">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_282" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_283" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entryRelationship" type="entryRelationship_539" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_282">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="8020" />
          <xs:enumeration value="8019" />
          <xs:enumeration value="6033" />
          <xs:enumeration value="12419" />
          <xs:enumeration value="6056" />
          <xs:enumeration value="9057" />
          <xs:enumeration value="7026" />
          <xs:enumeration value="12014" />
          <xs:enumeration value="823" />
          <xs:enumeration value="824" />
          <xs:enumeration value="12120" />
          <xs:enumeration value="12303" />
          <xs:enumeration value="8037" />
          <xs:enumeration value="12302" />
          <xs:enumeration value="12407" />
          <xs:enumeration value="9061" />
          <xs:enumeration value="9062" />
          <xs:enumeration value="6050" />
          <xs:enumeration value="12304" />
          <xs:enumeration value="9066" />
          <xs:enumeration value="9067" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_283">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="component_294">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="section" type="section_295" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="section_295">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_296" />
      <xs:element minOccurs="1" maxOccurs="1" name="title" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="entry" type="entry_299" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="code_296">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="RESCONS" />
          <xs:enumeration value="RESINSTR" />
          <xs:enumeration value="RESLAB" />
          <xs:enumeration value="GISTRESULT" />
          <xs:enumeration value="RECTREAT" />
          <xs:enumeration value="RECEXAM" />
          <xs:enumeration value="RECOTHER" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.197" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entry_299">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_300" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="observation_300">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="id_711" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_301" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_302" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="1" name="performer" type="performer_303" />
      <xs:element minOccurs="0" maxOccurs="2" name="entryRelationship" type="entryRelationship_313" />
      <xs:element minOccurs="0" maxOccurs="1" name="reference" type="reference_317" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_301">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="1" name="originalText" type="ED" />
    </xs:sequence>
    <xs:attribute name="code" type="cs" use="optional" />
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="NotFound" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1471" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1476" />
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" use="optional">
      <xs:simpleType>
        <xs:restriction base="NullFlavor">
          <xs:enumeration value="NI" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="effectiveTime_302">
    <xs:attribute name="value" type="ts" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="performer_303">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" type="assignedEntity_304" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="assignedEntity_304">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="id_305" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_306" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="telecom_307" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" type="assignedPerson_308" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_305">
	<!-- Уникальный идентификатор медицинского работника в МИС ("Консультации врачей специалистов", "Результаты инструментальных исследований", 
	"Результаты лабораторных исследований", "Результаты прижизненного патолого-анатомического исследования", "Хирургические операции") -->
    <xs:attribute name="root" use="optional" >
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.70"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="code_306">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1002" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="telecom_307">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="value" type="url" use="required" />
    <xs:attribute name="use" type="set_TelecommunicationAddressUse" use="optional" />
  </xs:complexType>
  <xs:complexType name="assignedPerson_308">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="name_309" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="name_309">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="family" type="st" />
      <xs:element minOccurs="1" maxOccurs="1" name="given" type="st" />
      <xs:element minOccurs="0" maxOccurs="1" ref="identity:Patronymic" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_313">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_314" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_314">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_315" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_315">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="806" />
          <xs:enumeration value="1806" />
          <xs:enumeration value="901" />
          <xs:enumeration value="4020" />
          <xs:enumeration value="12419" />
          <xs:enumeration value="9057" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="reference_317">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="externalDocument" type="externalDocument_318" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipExternalReference">
          <xs:enumeration value="REFR" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="externalDocument_318">
    <xs:sequence>
      <xs:element minOccurs="2" maxOccurs="2" name="id" type="id_319" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassDocument">
          <xs:enumeration value="DOCCLIN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_319">
	<!-- Уникальный идентификатор документа в МИС|в РЭМД -->
    <xs:attribute name="root" use="optional" >
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.51|1.2.643.5.1.13.13.17.1.1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="low_413">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="high_414">
    <xs:attribute name="value" type="ts" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="reference_429">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="externalDocument" type="externalDocument_430" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipExternalReference">
          <xs:enumeration value="REFR" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="externalDocument_430">
    <xs:sequence>
      <xs:element minOccurs="2" maxOccurs="2" name="id" type="id_431" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassDocument">
          <xs:enumeration value="DOCCLIN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_431">
	<!-- Уникальный идентификатор документа в МИС|в РЭМД -->
    <xs:attribute name="root" use="optional" >
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.51|1.2.643.5.1.13.13.17.1.1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="id_440">
	<!-- Идентификатор диагноза, по поводу которого проводилось лечение -->
    <xs:attribute name="root" use="optional" >
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.52"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_539">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_540" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_540">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_541" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_616" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entryRelationship" type="entryRelationship_578" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_541">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1514" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_578">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_579" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_579">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="2" name="code" type="code_580" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="effectiveTime_616" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_580">
    <xs:attribute name="code" use="required" >
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="9063" />
          <xs:enumeration value="8020" />
          <xs:enumeration value="8019" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
          <xs:enumeration value="1.2.643.5.1.13.13.11.1514" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_616">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="id_711">
	<!-- Идентификатор диагноза, по поводу которого рекомендуется лечение -->
    <xs:attribute name="root" use="optional" >
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.52"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="act_751">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_752" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_754" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActClassDocumentEntryAct">
          <xs:enumeration value="ACT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_DocumentActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_752">
    <xs:attribute name="code" type="cs" use="optional" />
    <xs:attribute name="codeSystem" use="optional">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1070" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="optional" />
    <xs:attribute name="codeSystemVersion" type="st" use="optional" />
    <xs:attribute name="displayName" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_754">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="act_761">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_762" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="effectiveTime_764" />
      <xs:element minOccurs="0" maxOccurs="3" name="entryRelationship" type="entryRelationship_765" />
      <xs:element minOccurs="1" maxOccurs="1" name="reference" type="reference_777" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActClassDocumentEntryAct">
          <xs:enumeration value="ACT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_DocumentActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_762">
    <xs:attribute name="code" type="cs" use="required" />
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.11.1522" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="effectiveTime_764">
    <xs:attribute name="value" type="ts" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="entryRelationship_765">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="observation" type="observation_766" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipEntryRelationship">
          <xs:enumeration value="COMP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="observation_766">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="code_767" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassObservation">
          <xs:enumeration value="OBS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActMoodDocumentObservation">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="code_767">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="cs">
          <xs:enumeration value="11002" />
          <xs:enumeration value="11003" />
          <xs:enumeration value="6058" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystem" use="required">
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:enumeration value="1.2.643.5.1.13.13.99.2.166" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codeSystemName" type="st" use="required" />
    <xs:attribute name="codeSystemVersion" type="st" use="required" />
    <xs:attribute name="displayName" type="st" use="required" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
  </xs:complexType>
  <xs:complexType name="reference_777">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="externalDocument" type="externalDocument_778" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="typeCode" use="required">
      <xs:simpleType>
        <xs:restriction base="x_ActRelationshipExternalReference">
          <xs:enumeration value="REFR" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="externalDocument_778">
    <xs:sequence>
      <xs:element minOccurs="2" maxOccurs="2" name="id" type="id_779" />
    </xs:sequence>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
    <xs:attribute name="classCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActClassDocument">
          <xs:enumeration value="DOCCLIN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moodCode" use="required">
      <xs:simpleType>
        <xs:restriction base="ActMood">
          <xs:enumeration value="EVN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="id_779">
	<!-- Уникальный идентификатор документа в МИС|в РЭМД-->
    <xs:attribute name="root" use="optional" >
      <xs:simpleType>
        <xs:restriction base="uid">
          <xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*.51|1.2.643.5.1.13.13.17.1.1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="extension" type="st" use="optional" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
</xs:schema>